@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Karla:wght@400;700&display=swap');

:root {
    --cor1: hsl(179, 62%, 43%);
    --cor2: hsl(71, 73%, 54%);
    --cor3: hsl(204, 43%, 93%);
    --cor4: hsl(218, 22%, 67%);
    --fonte: 'Karla', sans-serif;
}

body {
    background-color: var(--cor3);
    font-family: var(--fonte);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 55px;
}

.container {
    width: 300px;
    height: 280px;
    background-color: black;
    padding-left: 30px;
}

#container1 {
    background-color: white;
    border-radius: 10px 10px 0px 0px;
}

#container2 {
    background-color: var(--cor1); 
    align-items: center;
}

#container3 {
    background-color: hsl(179, 63%, 53%);
    border-radius: 0px 0px 10px 10px;
}

h1 {
    font-size: 22px;
    color: var(--cor1);
    padding-top: 20px;
}

h2 {
    font-size: 22px;
    color: white;
    padding-top: 20px;
}

h3 {
    font-size: 18px;
    color: var(--cor2);
    padding-top: 10px;
}

#container1 > p {
    font-size: 14px;
    line-height: 28px;
    color: var(--cor4);
    padding-right: 30px;
}

p {
    font-size: 16px;
    color: var(--cor3);
}

#preco {
    color: white;
    font-size: 40px;
}

#mes {
    color: var(--cor3);
    position: relative;
    bottom: 10px;
    left: 8px;
}

#descricao {
    padding-bottom: 20px;
}

#container2  a {
    background-color: var(--cor2);
    display: block;
    height: 50px;
    width: 260px;
    text-decoration: none;
    border-radius: 5px;
}

#container2 h2 {
    padding-top: 20px;
}

#container2 > a > p {
    text-align: center;
    padding-top: 15px;
    color: white;
}

ul {
    padding-left: 0px;
    font-size: 15px;
    line-height: 25px;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: var(--cor3);
    margin-right: px;
}